<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-applepay"
      version="5.0.0">

    <name>Apple Pay</name>
    <description>Implements Apple Pay.</description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>https://github.com/samkelleher/cordova-plugin-applepay</repo>

    <platform name="ios">

        <js-module src="www/applepay.js" name="payment">
            <clobbers target="ApplePay" />
        </js-module>

        <framework src="PassKit.framework"/>

        <header-file src="src/ios/CDVApplePay.h"/>
        <source-file src="src/ios/CDVApplePay.m"/>

        <config-file target="config.xml" parent="/*">
            <feature name="ApplePay">
                <param name="ios-package" value="CDVApplePay"/>
            </feature>
        </config-file>
  <!-- other properties here -->
		  <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
			<array>
			  <string>merchant.com.gems.mhs.cob.820394000</string>
			  <string>merchant.com.gems.mhs.820124000</string>
			</array>
		  </config-file>

		  <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
			<array>
			   <string>merchant.com.gems.mhs.cob.820394000</string>
			  <string>merchant.com.gems.mhs.820124000</string>
			</array>
		  </config-file>
	   <!-- Adding Associated Domains -->
    <config-file target="*-Release.plist" parent="com.apple.developer.associated-domains">
      <array>
        <string>webcredentials:gemseducation-dev.outsystemsenterprise.com:443</string>
      </array>
    </config-file>
      
    <!-- Enable Autofill in iOS 12+ -->
    <!-- <config-file parent="com.apple.developer.authentication-services.autofill-credential-provider" target="*-Release.plist">
		<boolean>true</boolean>
	</config-file> -->
    </platform>

</plugin>
