<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-applepay" version="5.0.0">
    <name>Apple Pay</name>
    <description>Implements Apple Pay.</description>
    <keywords>cordova,payment,apple pay</keywords>
    <repo>https://github.com/Srini-max/cordova-plugin-applepay</repo>
   <preference name="MERCHA1" default=""/>
	<preference name="MERCHA2" default=""/>
	<preference name="MERCHA3" default=""/>
	<preference name="MERCHA4" default=""/>
	<preference name="MERCHA5" default=""/>
	<preference name="MERCHA6" default=""/>
	<preference name="MERCHA7" default=""/>
	<preference name="MERCHA8" default=""/>
	<preference name="MERCHA9" default=""/>
	<preference name="MERCHB1" default=""/>
	<preference name="MERCHB2" default=""/>
	<preference name="MERCHB3" default=""/>
	<preference name="MERCHB4" default=""/>
	<preference name="MERCHB5" default=""/>
	<preference name="MERCHB6" default=""/>
	<preference name="MERCHB7" default=""/>
	<preference name="MERCHB8" default=""/>
	<preference name="MERCHB9" default=""/>
	<preference name="MERCHC1" default=""/>
	<preference name="MERCHC2" default=""/>
	<preference name="MERCHC3" default=""/>
	<preference name="MERCHC4" default=""/>
	<preference name="MERCHC5" default=""/>
	<preference name="MERCHC6" default=""/>
	<preference name="MERCHC7" default=""/>
	<preference name="MERCHC8" default=""/>
	<preference name="MERCHC9" default=""/>
	<preference name="MERCHD1" default=""/>
	<preference name="MERCHD2" default=""/>
	<preference name="MERCHD3" default=""/>
	<preference name="MERCHD4" default=""/>
	<preference name="MERCHD5" default=""/>
	<preference name="MERCHD6" default=""/>
	<preference name="MERCHD7" default=""/>
	<preference name="MERCHD8" default=""/>
	<preference name="MERCHD9" default=""/>
	<preference name="MERCHE1" default=""/>
	<preference name="MERCHE2" default=""/>
	<preference name="MERCHE3" default=""/>
	<preference name="MERCHE4" default=""/>
	<preference name="MERCHE5" default=""/>
	<preference name="MERCHE6" default=""/>
	<preference name="MERCHE7" default=""/>
	<preference name="MERCHE8" default=""/>
	<preference name="MERCHE9" default=""/>
	<preference name="MERCHF1" default=""/>
	<preference name="MERCHF2" default=""/>
		<preference name="MERCHF3" default=""/>

    <platform name="ios">
        <js-module src="www/applepay.js" name="payment">
            <clobbers target="ApplePay" />
        </js-module>
        <framework src="PassKit.framework" />
        <header-file src="src/ios/CDVApplePay.h" />
        <source-file src="src/ios/CDVApplePay.m" />
        <config-file target="config.xml" parent="/*">
            <feature name="ApplePay">
                <param name="ios-package" value="CDVApplePay" />
            </feature>
        </config-file>
        <!-- apple pay compatibility -->
       <config-file target="*-Debug.plist" parent="com.apple.developer.in-app-payments">
			<array>
			  <string>$MERCHA1</string>
<string>$MERCHA2</string>
<string>$MERCHA3</string>
<string>$MERCHA4</string>
<string>$MERCHA5</string>
<string>$MERCHA6</string>
<string>$MERCHA7</string>
<string>$MERCHA8</string>
<string>$MERCHA9</string>
<string>$MERCHB1</string>
<string>$MERCHB2</string>
<string>$MERCHB3</string>
<string>$MERCHB4</string>
<string>$MERCHB5</string>
<string>$MERCHB6</string>
<string>$MERCHB7</string>
<string>$MERCHB8</string>
<string>$MERCHB9</string>
<string>$MERCHC1</string>
<string>$MERCHC2</string>
<string>$MERCHC3</string>
<string>$MERCHC4</string>
<string>$MERCHC5</string>
<string>$MERCHC6</string>
<string>$MERCHC7</string>
<string>$MERCHC8</string>
<string>$MERCHC9</string>
<string>$MERCHD1</string>
<string>$MERCHD2</string>
<string>$MERCHD3</string>
<string>$MERCHD4</string>
<string>$MERCHD5</string>
<string>$MERCHD6</string>
<string>$MERCHD7</string>
<string>$MERCHD8</string>
<string>$MERCHD9</string>
<string>$MERCHE1</string>
<string>$MERCHE2</string>
<string>$MERCHE3</string>
<string>$MERCHE4</string>
<string>$MERCHE5</string>
<string>$MERCHE6</string>
<string>$MERCHE7</string>
<string>$MERCHE8</string>
<string>$MERCHE9</string>
<string>$MERCHF1</string>
<string>$MERCHF2</string>
                <string>$MERCHF3</string>

			</array>
		  </config-file>

		  <config-file target="*-Release.plist" parent="com.apple.developer.in-app-payments">
			<array>
			   <string>$MERCHA1</string>
<string>$MERCHA2</string>
<string>$MERCHA3</string>
<string>$MERCHA4</string>
<string>$MERCHA5</string>
<string>$MERCHA6</string>
<string>$MERCHA7</string>
<string>$MERCHA8</string>
<string>$MERCHA9</string>
<string>$MERCHB1</string>
<string>$MERCHB2</string>
<string>$MERCHB3</string>
<string>$MERCHB4</string>
<string>$MERCHB5</string>
<string>$MERCHB6</string>
<string>$MERCHB7</string>
<string>$MERCHB8</string>
<string>$MERCHB9</string>
<string>$MERCHC1</string>
<string>$MERCHC2</string>
<string>$MERCHC3</string>
<string>$MERCHC4</string>
<string>$MERCHC5</string>
<string>$MERCHC6</string>
<string>$MERCHC7</string>
<string>$MERCHC8</string>
<string>$MERCHC9</string>
<string>$MERCHD1</string>
<string>$MERCHD2</string>
<string>$MERCHD3</string>
<string>$MERCHD4</string>
<string>$MERCHD5</string>
<string>$MERCHD6</string>
<string>$MERCHD7</string>
<string>$MERCHD8</string>
<string>$MERCHD9</string>
<string>$MERCHE1</string>
<string>$MERCHE2</string>
<string>$MERCHE3</string>
<string>$MERCHE4</string>
<string>$MERCHE5</string>
<string>$MERCHE6</string>
<string>$MERCHE7</string>
<string>$MERCHE8</string>
<string>$MERCHE9</string>
<string>$MERCHF1</string>
<string>$MERCHF2</string>
                                <string>$MERCHF3</string>

			</array>
		  </config-file> 
    </platform>
</plugin>
